.AdminContainer {
    min-height: 800px;
    height: 80vh;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background: rgb(36,36,36);
}


.FormWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .FormContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Form{
    background: white;
    max-width: 400px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  }

  .FormLabel{
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
  }
  

  .FormInput {
    padding: 16px 16px;
    margin-bottom: 32px;
    border-color: black;
    border-width: 2.5px;
    border-radius: 4px;
    color: black;
  }