.BigContainer {
    min-height: 1000px;
    height: 80vh;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background: rgb(36,36,36);
}





  .formContainer {
    background: white;
    max-width: 400px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    margin-top: 80px;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
    padding-bottom: 50px;
  }
  
  .formContainer #inputCreateUser {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .formContainer button {
    background-color: transparent;
  color: black;
  padding: 15px 20px;
  border: 2px solid var(black);
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;


  }
  
  .formContainer button:hover {
    transition: all 0.3s ease-out;
  background: #242424;
  color: white;
  transition: 250ms;
  }

  .FormInput {
    padding: 16px 16px;
    margin-bottom: 32px;
    border-color: black;
    border-width: 2.5px;
    border-radius: 4px;
    color: black;
  }

  .FormButton{
    background: #0b7fab;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
  }

  .FormButton:hover{
    background: #E89674;
                transition: 0.2 ease-out;
                cursor: pointer;
                color: black;
  }

  .frmwrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .frmcnt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .frm{
    background: white;
    max-width: 400px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  }
  .FormLabel{
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
  }
  
 